.search {
    --padding: 20px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 32px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.25);
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.bottom-text {
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}

.bottom-audio {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}